.dnd-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(#191970, 1.0);
}

.drag-wrapper {
  z-index: 1000;
  position: absolute;
  display: flex;
}

.temporary-square {
  width: 50px;
  height: 50px;
  background-color: blue;
}

.ornament {
  position: relative;
  width: 50px;
  height: auto;
}

.lights {
  position: relative;
  width: 250px;
}

.lights-small {
  position: relative;
  width: 110px;
}

.star {
  position: relative;
  width: 80px;
  height: auto;
}

.tree {
  padding-left: 220px;  
  padding-top: 30px;
}

.recycle {
  height: 80px;
  width: auto;

  &-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &-spacer {
    height: 10%;
  }
}

.menu {
  display: flex;
  position: absolute;
  width: 280px;
  height: 90vh;
  background-color: rgb(190, 189, 189);
  outline-color: black;
}

.ornament-selected {
  --stroke-pos: 1px;
  --stroke-neg: -1px;
  --stroke-color: rgba(199, 255, 0, 0.6);
  filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color))
    drop-shadow(var(--stroke-neg) 0 var(--stroke-color))
    drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color))
    drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color))
    drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color))
    drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color))
    drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color))
    drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}

.ornament-hover:hover {
  @extend .ornament-selected;
}
