.dnd-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(#191970, 1.0);

  &-sidebar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-sidebar-content {
    position: relative;
    width: 90%;
    height: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #191970;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
  }
}

.dnd-drop-zone {
  display: flex;
  position: relative;
  background-color: rgba(#191970, 1.0);
  flex-grow: 1;
}

.drag-wrapper {
  display: flex;
  position: relative;
}

.centered-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f6ed;
}

.centered-list {
  &-container {
    width: 50%;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 2%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.05), 2px 2px 10px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 1.5px 1.5px 4px 0 hsla(0%, 0%, 0%, .5);
  }

  &-controls {
    position: sticky;
    background-color: #f7f6ed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.05), 2px 2px 10px 0px rgba(0, 0, 0, 0.05);

    &-button-wrapper {
      width: 90%;
      display: flex;
      justify-content: flex-end;
    }

    &-button {
      background-color: #f2f2f2;
      // box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.05), 2px 2px 10px 0px rgba(0, 0, 0, 0.05);
      box-shadow: 1.5px 1.5px 4px 0 hsla(0%, 0%, 0%, .5);

      border: none;
      border-radius: 7px;
      border-bottom: 1px solid green;
      cursor: pointer;
    }
  }

  &-spacer {
    width: 100%;
    height: 10%;
  }
}

.tree-row-display {
  &-link {}
  &-item {
    width: 90%;
    display: flex;
    background-color: #f2f2f2;
    text-align: center;
    // box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.05), 2px 2px 10px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 1.5px 1.5px 4px 0 hsla(0%, 0%, 0%, .5);
    border-radius: 7px;
    padding: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    position: relative;
  }
  &-spacer {
    flex-grow: 1;
  }

  &-image-wrap {
    position: relative;
  }

  &-image-tooltip {
    display: none;
    background-color: white;
    border-radius: 3px;
    min-height: 15px;
    min-width: 60px;
    position: absolute;
    z-index: 30;
    top: -30px;
    left: -50%;
    padding: 10%;
  }

  &-image-tooltip-bg {
    display: none;
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.10);
  }

  &-image-wrap:hover &-image-tooltip-bg {
    display: block;
  }

  &-image-wrap:hover &-image-tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }
}

.home-button {
  width: 65px;
  height: auto;
  position: relative;
  padding-bottom: 80%;


  &-image-wrap {
    position: relative;
  }

  &-image-tooltip {
    display: none;
    background-color: white;
    border-radius: 3px;
    min-height: 15px;
    min-width: 60px;
    position: absolute;
    z-index: 30;
    top: -30px;
    left: -50%;
    padding: 10%;
  }

  &-image-wrap:hover &-image-tooltip-bg {
    display: block;
  }

  &-image-wrap:hover &-image-tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }
}

.temporary-square {
  width: 50px;
  height: 50px;
  background-color: blue;
}

.ornament {
  position: relative;
  height: 50px;
  width: auto;
}

.lights {
  position: relative;
  height: 50px;
  width: auto;
}

.lights-small {
  position: relative;
  width: 110px;
}

.star {
  position: relative;
  width: 80px;
  height: auto;
}
.greeting-wrapper {
  width: 90px;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
.greeting-img {
  width: 250px;
  height: auto;
}

.greeting-text {
  position: absolute;
}

.greeting-text {
  width: 110px;
  height: 50px;
  background-color: white;
  border: 0px;
}

.tree {
  width: auto;
  height: 100%;
}

.recycle {
  height: 80px;
  width: auto;

  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &-spacer {
    height: 10%;
  }
}

.menu {
  display: flex;
  position: absolute;
  width: 280px;
  height: 90vh;
  background-color: rgb(190, 189, 189);
  outline-color: black;
}

.glow-button {
  width: 50px;
  height: 50px;
  background-color: rgb(114, 202, 114);
}

.ornament-lit {
  --stroke-pos: 1px;
  --stroke-neg: -1px;
  --stroke-color: rgba(255, 240, 28, 0.842);
  filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color))
    drop-shadow(var(--stroke-neg) 0 var(--stroke-color))
    drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color))
    drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color))
    drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color))
    drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color))
    drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color))
    drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}

.ornament-selected {
  --stroke-pos: 1px;
  --stroke-neg: -1px;
  --stroke-color: rgba(199, 255, 0, 0.6);
  filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color))
    drop-shadow(var(--stroke-neg) 0 var(--stroke-color))
    drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color))
    drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color))
    drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color))
    drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color))
    drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color))
    drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}

.ornament-hover:hover {
  @extend .ornament-selected;
}

@media (max-width: 600px) {
  .centered-list-container {
    width: 90%;
  }
}


