.sidebar {
  &-wrapper {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    display: flex;
  }

  &-content {
    flex-grow: 1;
    background-color: rgb(190, 189, 189);
  }

  &-control-wrapper {
    height: 100%;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-control {
    height: 75px;
    width: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgba(190, 189, 189, .8);
    margin-right: 5px;
  }

  &-control:hover {
    --stroke-pos: 1px;
    --stroke-neg: -1px;
    --stroke-color: rgba(255, 255, 255, 0.6);
    filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color))
      drop-shadow(var(--stroke-neg) 0 var(--stroke-color))
      drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color))
      drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color))
      drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color))
      drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color))
      drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color))
      drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
  }
}
